// Assemblies subworkflow process configuration
process {
  withName: 'VADR' {
    ext.args = '--mkey flu --atgonly --xnocomp --nomisc --noseqnamemax --nmaxins 7 --nmaxdel 7 --alt_fail insertnn,deletinn --alt_pass lowsim5s,lowsim3s,indf5pst,indf3pst'
    publishDir = [
      [
        path: { "${params.outdir}/annotation/vadr" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
    ]
  }
  withName: 'SUBTYPING_REPORT' {
    publishDir = [
      [
        path: { "${params.outdir}/"},
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }
}
